@use 'variables' as v;

.input-field {
  width: 100%;
  padding: v.$spacing-sm v.$spacing-md;
  border: none;
  border-radius: v.$input-asymmetric-radius;
  background-color: v.$input-bg;
  color: v.$input-text;
  font-family: v.$font-family-base;
  font-size: v.$font-size-md;

  &::placeholder {
    color: v.$input-placeholder;
  }

  &:focus {
    outline: none;
    background-color: v.$input-bg-focus;
  }
}
