@use 'variables' as v;

.checkbox {
  width: 1.25rem;
  height: 1.25rem;
  border: 1.25px solid v.$checkbox-border;
  border-radius: v.$radius-sm;
  background-color: v.$checkbox-bg;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  @media (hover: hover) and (pointer: fine) {
    &:hover:not(.checkbox--checked) {
      background-color: v.$checkbox-bg-hover;
      border: 1px solid v.$neutral-300;
    }
  }

  &--checked {
    background-color: v.$badge-bg;
    border-color: v.$checkbox-border-hover;
  }

  img {
    width: 0.75rem;
    height: 0.75rem;
  }
}
