@use "variables" as v;

.checkbox {
  width: 1rem;
  height: 1rem;
  border: 1px solid v.$checkbox-border;
  border-radius: v.$radius-xs;
  background-color: v.$checkbox-bg;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  @media (hover: hover) and (pointer: fine) {
    &:hover:not(.checkbox--checked) {
      background-color: v.$orange-300;
    }
  }

  &--checked {
    background-color: v.$checkbox-bg-checked;
  }

  img {
    width: 0.75rem;
    height: 0.75rem;
  }
}
