@use 'variables' as v;
@use 'mixins' as m;

.app-header {
  width: 100%;
  padding: v.$spacing-xl v.$spacing-lg;
  background-color: var(--color-bg);
  transition: background-color 0.2s ease;

  .header-container {
    @include m.flex($align: center, $justify: space-between);
    max-width: v.$content-width;
    margin: 0 auto;
  }

  .logo img {
    height: 2.5rem;
    width: auto;
  }
}
