@use 'variables' as v;

.app-header {
  width: 100%;
  padding: v.$spacing-xl v.$spacing-lg;
  background-color: v.$bg-default;
  transition: background-color 0.2s ease;

  .header-container {
    max-width: v.$content-width;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo img {
    height: 2.5rem;
    width: auto;
  }

  &.is-dark {
    background-color: v.$purple-900;
  }
}
