@use "variables" as v;
@use "mixins" as m;

.dropdown {
  width: fit-content;

  &__control {
    position: relative;
  }

  &__selected {
    display: flex;
    justify-content: flex-start;

    width: 0;
    min-width: 100%;
    white-space: nowrap;
    min-height: 1.5em;
    font-size: v.$font-size-md;
    color: v.$color-text-accent;

    @media (min-width: v.$breakpoint-lg) {
      justify-content: flex-end;
      padding: 0 v.$btn-padding-md;
      margin-top: v.$spacing-xs;
    }
  }

  &__header {
    @include m.flex(
      $align: center,
      $justify: space-between,
      $gap: v.$spacing-xs
    );

    background-color: transparent;
    color: v.$btn-dropdown-text;
    padding: v.$btn-padding-xxs 0;
    border: none;
    border-radius: v.$btn-border-radius-sm;
    font-weight: v.$font-weight-bold;
    width: 100%;
    transition: background-color 0.2s ease;

    @media (min-width: v.$breakpoint-lg) {
      padding: v.$btn-padding-xxs v.$btn-padding-md;
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: v.$btn-dropdown-bg-hover;

        .dropdown__chevron {
          color: v.$btn-dropdown-text-accent;
        }
      }
    }
  }

  &__chevron {
    width: 1.4rem;
    height: 1.4rem;
    flex-shrink: 0;
    align-self: center;
    transition: color 0.2s ease;

    &--open {
      color: v.$btn-dropdown-text-accent;
    }
  }

  &__backdrop {
    position: fixed;
    inset: 0;
    background: none;
    border: none;
    z-index: 5;
    cursor: default;
    padding: 0;
  }

  &__list {
    position: absolute;
    top: 100%;
    margin-top: v.$spacing-xxs;
    left: 0;
    right: 0;
    background-color: v.$dropdown-list-bg;
    border-radius: v.$btn-border-radius-sm;
    list-style: none;
    padding: v.$spacing-sm 0;
    z-index: 10;
  }

  &__option {
    width: 100%;
    font-size: v.$font-size-sm;
    padding: v.$spacing-xxs v.$spacing-sm;
    background: none;
    border: none;
    text-align: left;
    color: v.$input-text;
    cursor: pointer;

    &:hover {
      background-color: v.$purple-200;
    }

    &--selected {
      background-color: v.$purple-200;
    }
  }
}
