<div class="dropdown">
  <div class="dropdown__control">
    <app-disclosure-button
      class="dropdown__header"
      [isOpen]="isOpen()"
      (toggled)="toggleOpen()"
    >
      {{ label() }}
    </app-disclosure-button>

    @if (isOpen()) {
    <button
      type="button"
      class="dropdown__backdrop"
      (click)="closeDropdown()"
    ></button>

    <ul class="dropdown__list">
      @for (option of options(); track option.value) {
      <li>
        <button
          type="button"
          class="dropdown__option"
          [class.dropdown__option--selected]="option.value === selected()"
          (click)="selectOption(option.value)"
        >
          {{ option.label }}
        </button>
      </li>
      }
    </ul>
    }
  </div>

  <span class="dropdown__selected">{{ selectedLabel() }}</span>
</div>
