@use 'variables' as v;

* {
  scrollbar-width: thin;
  scrollbar-color: v.$scrollbar-thumb-neutral transparent;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: v.$scrollbar-thumb-neutral;
  border-radius: v.$radius-sm;
}
