<section class="hero">
  <h1 class="hero__title">Collect Feedback, Unlock Ideas</h1>

  <div class="hero__illustration">
    <img src="icons/poll-visual.svg" alt="" class="hero__phone" />
    <img
      src="icons/typing-bubble.svg"
      alt=""
      class="hero__icon hero__icon--bubble"
    />
    <img
      src="icons/question-mark.svg"
      alt=""
      class="hero__icon hero__icon--question"
    />
    <img src="icons/star.svg" alt="" class="hero__icon hero__icon--star" />
    <img src="icons/check.svg" alt="" class="hero__icon hero__icon--check" />
  </div>

  <p class="hero__description">
    Create and share surveys in minutes - from team events to workplace culture.
    Collect opinions, engage your audience, and turn feedback into action.
  </p>

  <app-button routerLink="/create-survey" variant="primary" class="hero__cta">
    New Survey
    <img src="icons/add-icon-purple.svg" alt="" />
  </app-button>
</section>

<app-surveys-overview> </app-surveys-overview>
