<article class="vote-card">
  <div class="vote-card__topbar">
    <app-status-badge />
    <app-button
      variant="primary"
      size="sm"
      class="vote-card__close"
      routerLink="/"
    >
      <span class="vote-card__close-label">Cancel</span>
      <app-close-icon />
    </app-button>
  </div>

  <div class="vote-card__meta">
    <span class="vote-card__deadline">
      Ends on {{ survey().deadline | date: 'dd.MM.yyyy' }}
    </span>
    <span class="vote-card__category">Category: {{ survey().category }}</span>
  </div>

  <h1 class="vote-card__title">{{ survey().title }}</h1>
  <p class="vote-card__description">{{ survey().description }}</p>

  <div class="vote-card__questions">
    @for (question of survey().questions; track question.id; let
    questionIndex = $index) {
    <app-vote-question [question]="question" [questionIndex]="questionIndex" />
    }
  </div>

  <app-button variant="primary" class="vote-card__complete">
    Complete
    <svg viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M6.1556 12.5078L16.0211 0.427617C16.2539 0.142539 16.5255 0 16.8359 0C17.1463 0 17.418 0.142539 17.6508 0.427617C17.8836 0.712695 18 1.05122 18 1.44321C18 1.83519 17.8836 2.17372 17.6508 2.4588L6.97045 15.5724C6.73763 15.8575 6.46602 16 6.1556 16C5.84518 16 5.57356 15.8575 5.34075 15.5724L0.335252 9.44321C0.102438 9.15813 -0.00911854 8.8196 0.000582034 8.42762C0.0102826 8.03563 0.13154 7.6971 0.364354 7.41203C0.597167 7.12695 0.873634 6.98441 1.19375 6.98441C1.51387 6.98441 1.79034 7.12695 2.02315 7.41203L6.1556 12.5078Z"
        fill="#35273A"
      />
    </svg>
  </app-button>
</article>
