<section class="surveys-overview">
  <h2 class="surveys-overview__title">Your surveys</h2>

  <h3 class="surveys-overview__subtitle">Ending soon surveys</h3>
  <div class="surveys-overview__highlight-row">
    @for (poll of endingSoonPolls; track poll.title) {
      <app-poll-card variant="highlight" [category]="poll.category" [title]="poll.title" [endsIn]="poll.endsIn" />
    }
  </div>

  <div class="surveys-overview__controls">
    <div class="surveys-overview__filters">
      <app-button variant="filter" [active]="activeFilter() === 'active'" (click)="setFilter('active')">
        Active survey
      </app-button>
      <app-button variant="filter" [active]="activeFilter() === 'past'" (click)="setFilter('past')">
        Past survey
      </app-button>
    </div>

    <app-dropdown
      label="Sort by categories"
      [options]="categoryOptions"
      [selected]="selectedCategory()"
      (selectedChange)="selectedCategory.set($event)"
    />
  </div>

  <div class="surveys-overview__list">
    <!-- später zu track poll.id wechseln-->
    @for (poll of allPolls; track $index) {
      <app-poll-card variant="list" [category]="poll.category" [title]="poll.title" [endsIn]="poll.endsIn" />
    }
  </div>
</section>
